<section>
    <div class="container">
        <div>
           <h5 class="text-center mt-4 " style="color:#c8c8c8;">Cart Details</h5>

            <table class=" table mt-5 table-borderless table-hover table-sm ">

                {{#each products}}
                <tbody class="col-md-4  col-12 p-5" style="border: 1px solid;border-color:rgb(188, 184, 184);">

                    <tr class="bg-light">
                        <th scope="col">{{this.product.Name}}</th>
                        <td>
                            <img src="/product-images/{{this.product._id}}.jpg" alt="" style="width:auto;height:4rem">
                        </td>
                    </tr>
                    <tr>
                        <td scope="col">Price</td>
                        <td>{{this.product.Price}}</td>
                    </tr>
                    <tr>
                        <td scope="col">Quantity</td>
                        <td>
                            <button class="btn btn-outline-secondary "
                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)"> -
                            </button>
                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                            <button class="btn btn-outline-secondary"
                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)"> +
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col"></th>
                        <td>
                            <a href="" class="btn btn-outline-secondary">Remove</a>
                        </td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
            <table class=" table mt-5 table-borderless table-hover table-sm ">
            <tbody class="col-md-4  col-12 p-5" style="border: 1px solid;border-color:rgb(188, 184, 184);">
                <tr class="mt-3">
                    <td scope="col"><h6 class="p-2">TOTAL</h6></td>
                    <td scope="col"><h6 class="p-2">₹ <span id="total">{{totalValue}}</span></h6></td>
                </tr>
                <tr>
                    <th></th>
                    <td class="p-2"><a href="/place-order" class="btn btn-success " >place order</a></td>
                </tr>
            </tbody>
            </table>
        </div>
</section>
<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert('product remove from cart')
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count;
                    document.getElementById('total').innerHTML = response.total;
                }
            }
        })

    }
</script>